//meta(property="og:type", content="website")
//meta(property="og:url", content="https://beta.saakeskus.fi/")
//meta(property="og:image", content="https://www.saakeskus.fi/images/logo_big.gif")
//meta(property="og:description", content="We provide free, up-to-date, high resolution weather charts of Finland and the Nordic countries.")
//meta(property="og:site_name", content="Suomen Sääkeskus")
//meta(property="og:locale", content="en_GB")

meta(property="charset", content="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

link(rel="stylesheet", href="node_modules/@fortawesome/fontawesome-free/css/all.min.css")
link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="node_modules/leaflet/dist/leaflet.css")
link(rel="stylesheet", href="node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css")
link(rel="stylesheet", href="node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css")
link(rel="stylesheet", href="style/style.css")
